nav a{
    --latime-buton: 180px;
    --inaltime-buton: 200px;
    background-color: var(--culoare-highlight);
}

ul.meniu, ul.meniu ul{
    list-style-type: none;
    padding: 0;
}

#hamburger, #ch-menu{
    display: none;
}

.text-icon, .imag-icon{
    display: inline-block;
}

/* meniul principal */
ul.meniu{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 1px;
    width: 100%;
    margin: 0;
    padding-left: var(--margine-pagina);
    padding-right: var(--margine-pagina);

    box-sizing: border-box;
}

/* idk ce face */
ul.meniu  ul{
    display: none;
    animation: animatie_submeniu 1s linear;
    transform-origin: center top;
    margin: 0;
}

ul.meniu li:hover ul{
    display: block;
    z-index: 10;
}


/* butoanele principale */
ul.meniu li{
    cursor: pointer;
    /* display: inline-block; */
    width: var(--latime-buton);
    height: var(--inaltime-buton);
    background-color: var(--culoare-butoane);
    border: 2px solid var(--culoare-contur);
    color: var(--culoare-contur);
    text-align: center;
    line-height: var(--inaltime-buton);
    margin-right: 10px;

    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s ease;
    position: relative; 

    flex: 1;           /* fiecare buton ia spațiu egal */
    width: auto;       /* suprascrie --latime-buton */
    margin-right: 10;   /* elimini spațiul dintre butoane */
}

ul.meniu a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

/* poti sa dai click pe tot butonul */
ul.meniu li a{
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

/* hover buton */
ul.meniu>li:hover{
    background-color: var(--culoare-highlight);
    color: white;
}

/* dropdown ascuns */
ul.meniu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    animation: animatie_subdomeniu 0.5s ease;
}

/* afisare dropdown */


/* elemente dropdown */
ul.meniu ul li{
    width: var(--latime-buton);
    background-color: var(--culoare-fundal);
}

/* hover dropdown */
ul.meniu ul li:hover{
    background-color: var(--culoare-contur);
    color: white;
}

/* animatie */
@keyframes animatie_subdomeniu{
    0%{
        opacity: 0;
        transform: scale(0,0);
    }
    50%{
        transform: scale(0.7,1);
    }
    100%{
        opacity: 1;
        transform: scale(1,1);
    }
}