<footer id="subsol">
        <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
		<address>
			Adresa: Strada Zambilelor, nr. 31, București, sector 6, România;
            E-mail: <a href="mailto:artground@gmail.com">artground@gmail.com</a>;
            Telefon: <a href="+40756555001">0756555001</a>;
		</address>
</footer>