<header>
            <h1 id="t".class="archivo-black-regular"> ArtGround <i class="fa-solid fa-palette"></i></h1>
            <img src="./resurse/imagini/logo.png" alt="sigla" />

            <nav>
                <label id="hamburger" for="ch-menu"></label>
                <input type="checkbox" id="ch-menu"/>
                <ul class="meniu">
                    
                    <li>Home  <i class="fa-regular fa-star"></i>
                        <ul>
                            <li> <a href="#welcome">Welcome </a> </li>
                           
                            <li> <a href="#promotii">Promotii</a> </li>
                                
                            <li> <a href="#produsedescumparate">Produse des cumparate</a> </li>
                           
                        </ul>
                    </li> 
                    <li>Produse</li>  
                    <li>Contact si orar</li>
                    <li>Recomandari</li>
                    <li>Cosul meu</li>
                </ul>
            </nav>
</header>