<header>
            <h1 id="t".class="archivo-black-regular"> ArtGround <i class="fa-solid fa-palette"></i></h1>
            <img src="/resurse/imagini/logo.png" alt="sigla" />

            <nav>
                <label id="hamburger" for="ch-menu"></label>
                <input type="checkbox" id="ch-menu"/>
                <ul class="meniu">

                    <li>
                        <i class="fa-solid fa-home"></i>
                        <span class="menu-text">Home</span>
                        <ul>
                            <li> <a href="#welcome">Welcome </a> </li>

                            <li> <a href="#promotii">Promotii</a> </li>

                            <li> <a href="#anunturi">Anunturi</a> </li>

                        </ul>
                    </li>
                    <li><a href="#utilizator" class="menu-button"><i class="fa-solid fa-user"></i><span class="menu-text">Utilizator</span></a></li>
                    <li><a href="#produse" class="menu-button"><i class="fa-solid fa-cube"></i><span class="menu-text">Produse</span></a></li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <span class="menu-text">Contact si orar</span>
                    </li>
                    <li>
                        <a href="/recomandari">
                            <i class="fa-solid fa-star"></i>
                            <span class="menu-text">Recomandari</span>
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-shopping-cart"></i>
                        <span class="menu-text">Cosul meu</span>
                    </li>
                </ul>
            </nav>
</header>